/* 
OUTER BODY
*/
body {
  background-color: #ffffff;
}

/* 
FONT
*/
div {
  font-family: "Monaco" !important;
  background-color: white !important;
  color: black !important;
}
dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td, header {
  font-family: "Monaco" !important;
  background-color: white !important;
  border: 0px !important;
  color: black !important;
}

/* 
TOP HEADER (MASTHEAD)
*/

/* Logo */
#logo {
  min-height: 0;
}
/* Hide the my account image in the top right corner */
#account-avatar-btn {
  display:none;
}

/* 
BUTTONS 
*/

/* Change call to action button colors */
#subscription-change-offer-btn, #subscription-change-plan-btn, #cancel-link, 
#billings-update-btn, #shipping-address-edit-btn, #subscription-configure-btn, 
#hold-link, #subscription-apply-coupon-btn, #resume-link {
  background: #000000 !important;
  color: #fff;
  border-color: transparent;
}
/* save and submit buttons */
.button--utility, .button-submit {
    background: #000000 !important;
    border-color: transparent;
    color: #fff;
}
/* All other buttons */
.button {
  background: #000000 !important;
  border-color: transparent;
  color: #fff;
}

/* 
OTHER 
*/

/* Invoices page, legend at the bottom that shows invoice type */
.invoice-legend {
  display: none;
}
